*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    font-family: "Open Sans", sans-serif;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /*background-color: #0089B7;*/
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(to left, #0089B7, #003D62);
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.logo{
    font-size: 2rem;
}
.nav-links li{
    transition: 0.3s ease;
}
.nav-links li:hover{
    transform: scale(1.1);
}
.nav-links a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

/*-----------------------------------------------*/
.sec1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #003D62;
    color: white;
    padding: 130px 40px 80px;
    min-height: 100vh;

}
.image{
    width: 100%;
    max-width: 400px;
    border-radius: 20%;
    padding: 30px;
}
.sec1-text{
    /*max-width: 500px;*/
}
.hi{
    color: #ecd24d;
    font-size: 2.8rem;
}
.name{
    font-size: 2.5rem;
}
.sec1-text h1{
    font-size: 1.4rem;
    margin-bottom: 20px;
}
.role{
    font-size: 3rem;
}

.typewriter{
    /*font-family: monospace;*/
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.5rem solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.1rem; /* Adjust as needed */
    animation:
            typing 3.5s steps(30, end),
            blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange
    }
}

/*---------------------------------------------------------*/

.sec2{
    background-color: #003251;
    color: white;
    padding: 80px 70px;

}
.sec2-text{
    display: flex;
    justify-content: center;
}
.sec2 h2{
    font-size: 3rem;
    margin-bottom: 50px;
}

.grid-projects{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
    padding: 20px;
}

.grid-image{
    border-radius: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}

.grid-text{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding: 20px;
    font-weight: 600;
}

.grid-image:hover{
    transform: scale(1.05);
    opacity: 0.8;
}

.grid-text:hover{
    transform: scale(1.05);
    background-color: #f9f9fa;
    color: #003D62;
}

.grid-projects > div {
    position: relative;
    overflow: hidden;
}

.grid-image {
    width: 100%;
    height: auto;
}

.grid-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    background: white;
    color: #003D62;
    text-align: center;
    padding: 20px;
    font-weight: 600;

    transform: translateY(100%);
    transition: all 0.4s ease;
}

.grid-projects > div:hover .grid-text {
    transform: translateY(0);
}

.grid-item{
    position: relative;
    overflow: hidden;
    max-width: 300px;

}

/*--------------------------------------------*/

.sec3{
    background-color: #003D62;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;

}
.sec-title{
    font-size: 1.7rem;
    margin-bottom: 40px;
}

/*--------------------------------------------*/

.sec4-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 1.3rem;
    flex-wrap: wrap;
}
.sec4-contact i{
    font-size: 1.3rem;
}
.icon-with-text{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.sec4-contact a{
    color:white;
    text-decoration: none;
    transition: 0.3s ease;
}
.sec4-contact a:hover{
    color: #ecd24d;
    scale: 1.1;
}

/*----------------------------------------------------*/

footer{
    background-color: #012941;
    padding: 20px;
    color: white;
    text-align: center;
}

/*----------------------------------------------------*/

@media (max-width: 1024px){
    html{
        font-size: 14px;
    }
    .grid-projects{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        gap: 40px;
    }

}

@media (max-width: 768px){
    .sec1 {
        flex-direction: column-reverse;
    }
    .sec1-text{
        margin-bottom:  20px;
    }
    /*.image{*/
    /*    width: 100%;*/
    /*    max-width: 300px;*/

    /*}*/
}

@media (max-width: 600px){
    html{
        font-size: 13px;
    }
    .grid-projects{
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    }
    .sec2 h2{
        margin-bottom: 20px;
    }
    .sec-title{
        font-size: 1.5rem;
        text-align: center;
    }

}

@media (max-width: 425px){
    html{
        font-size: 10px;
    }
    .sec1{
        text-align: center;
    }
}
@media (max-width: 320px){

    .nav-links{
        gap: 10px;
    }
    .hi{
        font-size: 2.5rem;
    }
    .name{
        font-size: 2.5rem;
    }
    .sec1-text h1{
        font-size: 1.3rem;
    }
    .role{
        font-size: 2rem;
    }
}
